**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars.local
*.secret.tfvars
secrets.tfvars
secrets.auto.tfvars
secrets.auto.tfvars.json
